*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html { 
    height: 100%; 
}

  body {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#parent_div{
    width: auto;
    height: auto;
    /* min-width: fit-content;
    max-width: 400px;
    min-height: fit-content;
    max-height: 700px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#logo_img {
    width: 180px;
}

#logo_div {
    width: 180px;
    padding-bottom: 10px;
    height: 60px;
    margin-bottom: 20px;
}

#form_div{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    margin-bottom: 20px;
}

#form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
         }
        
#form-group label{
    color: black; 
    font-weight: bolder;
    display: block;
    margin-bottom: 5px;
    /* padding: 5px; */
}

#form-group {
     padding: 5px;
}

.btn {
    background-color: #63abf7; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; 
    font-weight: bolder;
    /* margin-bottom: 20px; */
}

input[type="submit"]:hover {
     background-color: #005bb5;
}


.login_div {
    width: 100%;
    margin-top: 10px;
}

#login_btn{
    width: 100%;
}

#err{
    font-size: 12px;
}

#error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}

