*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

main { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white; 
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 #add_user_div{
    width: 100%;
    padding: 10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
 }

 button { 
    background-color: #0073e6;
    color: white;
    font-weight: bolder;
    border: none; 
    padding: 10px 20px;
    cursor: pointer;
 }

 button a {
    color : white;
    text-decoration: none;
 }

 button:hover {
    background-color: #005bb5
 }   

 table{
    width: 100%;
 }

 th{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: start;
 }

 td{
    padding-left: 5px;
 }
 
 td img{
    padding-left: 5px;
    width: 15px;
    height: 15px;
 }
   